@{
    Layout = null;
}

<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <a href="#"><img src="~/Content/Images/2.jpg" alt="First Image" class="img-responsive" /></a>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <a href="#"><img src="~/Content/Images/053.jpg" alt="Second Image" class="img-responsive" /></a>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <a href="#"><img src="~/Content/Images/sparealife-collage-1.jpg" alt="Third Image" class="img-responsive" /></a>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

