
@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-body">
        <h5 class="text-info">CarSystem - ASP.NET MVC Course Project</h5>
        <a href="https://github.com/Azonic89/My-ASP.NET-MVC-Project" class="btn btn-info" role="button">@@ Github</a>
    </div>
    <div class="panel-footer"><p>&copy; @DateTime.UtcNow.Year - CarSystem</p></div>
</div>
