@model  IEnumerable<CarSystem.Web.Models.Advert.AdvertDetailViewModel>

@{
    ViewBag.Title = "Adverts list";
}

<div class="well well-sm">
    <h3 class="text-center text-info">@ViewBag.Title</h3>
</div>
<div class="container">
    @foreach (var advert in Model)
    {
        <div class="col-md-10">
            <div class="row">
                <h4>
                    <a href="@advert.Url">@advert.Title</a>
                </h4>
            </div>
        </div>
    }
</div>
